<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load i18n static %}
    <link rel="stylesheet" type="text/css" href="/static/admin/css/center_report.css">

    <style>

@media print {
        @page {
  size: A4;
  margin: 0;
}


}

    </style>
</head>
<body onload='window.print()'>

<div class="header">

    <label class="h1">Bangladesh Nursing and Midwifery Council </label>
    <label class="h2">Comprehensive/Licensing Examination {{center}}</label>
    <div class="h3"><label>Date: {{center.exam.exam_date}}</label> <span>Time 10:00 AM</span></div>
    <label class="h4">Center Name: {{center.center}}</label>
    <label class="h5">Location: {{center.hall_name}} Room No: {{center.room_name}}</label>
    <label class="actendance_sheet">Attendance Sheet</label>

</div>

<table class="first_table">
  <tr>
    <th class="roll">Roll<br>Number</th>
    <th class="pic">Picture</th>
    <th class="s_n">Student Name</th>
    <th class="f_n">Father's Name</th>
    <th class="ins">NI/NC</th>
    <th class="sig">Admit<br>Signature</th>
    <th class="sig_sec">Signature</th>
  </tr>
     {% for i in license %}
  <tr>

    <td class="roll">{{i.rool_number}}</td>
    <td class="img"><img src="{{i.image_sec.url}}"></td>
    <td class="last_name">{{i.last_name}}</td>
    <td class="f_name">{{i.fathers_name}}</td>
    <td class="ins">{{i.institution}}</td>

    <td class="sig">{% if i.signature_first %}<img src="{{i.signature_first.url}}">{% endif %}</td>

    <td class="sig_sec"></td>
  </tr>
    {% endfor %}

</table>

<div class="foter">
        <div> <label>Total Candidate = {{len}}</label><span class="sp">Absent=</span></div>

<img class="att" src="/static/admin/img/attende.png">
</div>





</body>
</html>
