
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.full.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>



.customclass{

color: green;
}

div#yyyy {
    display: block;
    margin: auto;
    width: 198px;
    border: 1px solid;
}

div#yyyy li {
    width: 100px;
    list-style: none;
    font-size: 14px;
    background-color: #eee;
    border: 1px solid;
    padding: 2px;
}


span.select2.select2-container.select2-container--custom-option-select {
    border: 1px solid;
    min-height: 30px;
}


.subject_name {
    list-style: none;
    padding: 5px;
    display: inline-block;
    background-color: #eee;
    margin: 3px 2px 4px 7px;
    border-radius: 4px;
}


.subject_name span {
    cursor: pointer;
}


.program_name {
    list-style: none;
    padding: 5px;
    display: inline-block;
    background-color: #eee;
    margin: 3px 2px 4px 7px;
    border-radius: 4px;
}


.program_name span {
    cursor: pointer;
}

form {
    background-color: #fff;
    margin-top: 6%;
    padding: 27px;
}
.form_body {
    width: 1200px;
    margin: auto;
}


.institute {
    width: 62%;
    display: inline-block;
    float: left;
}

.institute span.select2-selection.select2-selection--multiple {
    width: 75%;
    border: 1px solid #ccc;
    margin-left: 23px;
}

body {
    background-color: #eee;
}




.exam span.select2-selection.select2-selection--multiple {
    width: 96%;
    display: inline-block;
    border: 1px solid #ccc;
    margin-left: 16px;
}

.exam span.select2.select2-container.select2-container--default {
    width: 75% !important;
}

.exam {
    width: 37%;
    display: inline-block;
}


.institute span.select2.select2-container.select2-container--default.select2-container--focus {
    width: 78% !important;
}


.institute span.select2.select2-container.select2-container--default {
    width: 78% !important;
}


.Subject {
    display: inline-block;
    float: left;
    width: 45%;
    margin-top: 24px;
}

.Subject span.select2.select2-container.select2-container--default {
    width: 78% !important;
    margin-left: 48px;
}

.user {
    margin-left: 17%;
    display: inline-block;
    float: left;
    width: 38%;
    margin-top: 24px;
}

.user span.select2.select2-container.select2-container--default {
    width: 70% !important;
    margin-left: 23px;
}

.sub_subject {
    display: inline-block;
    width: 100%;
    margin-top: 24px;
}


.sub_subject span.select2.select2-container.select2-container--default.select2-container--focus {
    width: 85% !important;
}

.sub_subject span.select2.select2-container.select2-container--default.select2-container--below{
width: 85% !important;
}

.sub_subject span.select2.select2-container.select2-container--default {
    width: 85% !important;
    margin-left: 12px;


}



.st_en input {
    width: 73%;
    height: 33px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-left: 31px;
    margin-top: 24px;
}

.end input {
    width: 73%;
    height: 33px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-left: 31px;
    margin-top: 24px;
}

.end {
    width: 49%;
    display: inline-block;
}

.st_en {
    width: 50%;
    display: inline-block;
}

button {
    margin: auto;
    display: block;
    margin-top: 4%;
    width: 100px;
}


.t{
font-size:  18px;
}

</style>


  <div class="form_body">

      <form method="post">
    {% csrf_token %}


          <div class="institute">

              <label class="t">Institutions</label>
              <select class="js-example-basic-multiple" name="ins[]" multiple="multiple">
                   <option value="0">Select Institution</option>
                 {% for i in institution %}
                 <option value="{{i.id}}">{{i.institution_name}}</option>
                 {% endfor %}
              </select>

          </div>



<div class="exam">

    <label class="t">Exam</label>
    <select id="exam" class="js-example-basic-multiple" name="exam[]" multiple="multiple">
       <option value="0">Select exam</option>
     {% for i in exam %}
     <option value="{{i.id}}">{{i.name}}</option>
     {% endfor %}
  </select>
</div>


          <div class="program">
              <label class="t">Program</label>
              <select id="program" class="js-example-basic-multiple" name="program[]" multiple="multiple">
               <option value="0">Select program</option>
             {% for i in program %}
             <option value="{{i.id}}">{{i.title}}</option>
             {% endfor %}
          </select>

          </div>


           <div id="year_div" class="year">
              <label class="t">year</label>
              <select  id="year" class="js-example-basic-multiple" name="year[]" multiple="multiple">
               <option value="0">Select year</option>
             {% for i in year %}
             <option value="{{i.id}}">{{i.year}}</option>
             {% endfor %}
          </select>

          </div>


<div class="Subject">

    <label class="t">Subject</label>
    <select id="sub" class="dddd" name="sub[]" multiple="multiple">

    {% for i in exam_subject %}
     <option value="{{i.id}}">{{i.name}}</option>
     {% endfor %}

     </select>
</div>


          <div class="user">

    <label class="t">User</label>

    <select name="user" class="js-example-basic-multiple">
       <option value="0">Select User</option>
     {% for i in user %}
     <option value="{{i.id}}">{{i.username}}</option>
     {% endfor %}
  </select>
</div>


<div class="sub_subject">

    <label class="t">Sub-subjects</label>

    <select id="subs"  name="subs[]" multiple="multiple">
           {% for i in SubSubject %}
     <option value="{{i.id}}">{{i.subject_name}}</option>
     {% endfor %}

  </select>
</div>





<div class="st_en">

    <label class="t">Start Roll</label>
    <input type="number" name="start">

<input id="remove_id" type="hidden"name="remove_id">

</div>

          <div class="end">


    <label class="t">End Roll</label>
    <input type="number" name="end">
          </div>

<button>Click</button>
</form>
  </div>



  <script>

<!--first step is start-->



$(document).ready(function() {
    $('.js-example-basic-multiple').select2({

    });
});



      year_list=[]
      $(document).ready(
        function() {
        $("select#program").change(function() {
        var pro = $("select#program").val()



        if (pro == null){

        $('#year option').prop("hidden", true);
        }

        else{


                if (year_list.length == 0){

                    year_list.push($(this).val())
                    <!--alert(subjects_list+'\\n'+'fisrt')-->
                }

                else{

                for (var i = 0; i < pro.length; i++) {
                var id=pro[i]
                var id_str=id.toString();


                    var find_year=year_list.includes(id_str)


                    if (find_year){


                    }

                    else{

                    year_list.push(pro[i])

                    }

                }

                }



        var first_pro = year_list[0]
        var sec_pro = year_list[1]
        var last_pro = year_list[year_list.length-1];



        final_pro_id=0

         if (year_list.length == 1)

         {
         final_pro_id=first_pro

         }

         else if ((year_list.length == 3) && (Number(first_pro)>Number(sec_pro)))

          {
          final_pro_id=sec_pro


          }

          else
          {
          final_pro_id=last_pro

          }


<!--pore solve -->

    $("#year").on("select2:select", function (evt) {
    var chil = document.querySelector(".year-select2")
    $(chil).find("li").remove();
    $('#yyyy').html('')
        });

<!--pore solve -->




var url = "/get_year_url/" +final_pro_id
var brand = $(this).val();


year_id_list=[]
$.getJSON(url, function(id) {
for (var i = 0; i < id.length; i++) {


      $('#year option[value='+id[i].pk+']').prop("hidden", false);
      year_id_list.push(id[i].pk)




}


});

}



});
});


<!--first step is end-->




<!--second step is start-->


$(document).ready(function() {

$( "#year_div span.select2-selection.select2-selection--multiple" ).click(function() {

alert('ffff')


zeroyear=0
sorted_list_of_year=[]
for (i = 0; i < year_id_list.length; ++i) {


        <!--alert(sorted_list)-->
        var year_divs =document.querySelectorAll("[id*='select2-year-result']")

        for (n = 0; n < year_divs.length; ++n) {
        var id= year_divs[n].getAttribute("id");
        zeroyear++

        var last = id.lastIndexOf("-");
        var get_number = id.substring(last+1, );


        if (zeroyear > 1){

         if ((sorted_list_of_year == '') && (year_id_list[i]) == (Number(get_number))){

           year_divs[n].style.display = "block";
           sorted_list_of_year.push(get_number)
           <!--alert('first')-->


          }
          else if (sorted_list_of_year != ''){


        <!--alert( subs_sub[i] +'   '+  Number(get_number)+ ' '+ alert(sorted_list_of_year[k]))-->

         var bedrooms = sorted_list_of_year.filter(name => name.includes(get_number))


        if (bedrooms == get_number){

        }

        else if (year_id_list[i] == Number(get_number) ){
        year_divs[n].style.display = "block";
         sorted_list_of_year.push(get_number)

        }

        else{
        year_divs[n].style.display = "none";
        <!--alert('nai')-->

        }

}

      else{
      year_divs[n].style.display = "none";
      <!--alert('kico nai')-->

      }


        }

        }

zeroyear=0


}


});

});


$(document).ready(function() {
$( "#year_div span.select2-selection.select2-selection--multiple" ).keyup(function() {




zeroyear=0
sorted_list_of_year=[]
for (i = 0; i < year_id_list.length; ++i) {

        <!--alert(sorted_list)-->
        var year_divs =document.querySelectorAll("[id*='select2-year-result']")

        for (n = 0; n < year_divs.length; ++n) {
        var id= year_divs[n].getAttribute("id");
        zeroyear++

        var last = id.lastIndexOf("-");
        var get_number = id.substring(last+1, );


        if (zeroyear > 1){

         if ((sorted_list_of_year == '') && (year_id_list[i]) == (Number(get_number))){

           year_divs[n].style.display = "block";
           sorted_list_of_year.push(get_number)
           <!--alert('first')-->


          }
          else if (sorted_list_of_year != ''){


        <!--alert( subs_sub[i] +'   '+  Number(get_number)+ ' '+ alert(sorted_list_of_year[k]))-->

         var bedrooms = sorted_list_of_year.filter(name => name.includes(get_number))


        if (bedrooms == get_number){

        }

        else if (year_id_list[i] == Number(get_number) ){
        year_divs[n].style.display = "block";
         sorted_list_of_year.push(get_number)

        }

        else{
        year_divs[n].style.display = "none";
        <!--alert('nai')-->

        }

}

      else{
      year_divs[n].style.display = "none";
      <!--alert('kico nai')-->

      }


        }

        }

zeroyear=0


}


});

});


<!--second step is end-->



  </script>



  <script>

recent_text=''
recent_list=[]
dic_subs=[]
dic_sub=[]
recent_id=''
removes=[]

var lists=[]
function reply_click(clicked_id)
  {

        var remove= document.getElementById(clicked_id);


        removes.push(clicked_id)

        $(remove).attr("aria-selected","false");
        $(remove).remove();
        $('#remove_id').val(removes)
  }

var selection_list=[]
  $('#subs').select2({



    templateSelection: function(selection) {




function to() {

var subject_id=recent_id
  $.ajax({
                    type: "POST",
                    url: "/subject_text/?sub_id=" + subject_id+"&subs_id="+selection.id,
                    dataType: "json",
                    data: {'csrfmiddlewaretoken': '{{ csrf_token }}' },
                    success: function (data)


                    {
                    var p = 0;

                    if (removes != ''){

                    function check_id(re_id) {

                      return re_id == selection.id
                    }

                    var re_find = removes.find(check_id)

                        if (re_find){

                        }

                        else{
                        var chil = document.querySelector(".subs-select2")
                      $(chil).append("<li"+" id="+"'"+selection.id+"'"+ " class="+"'"+'subject_name'+"'"+">"+selection.text+"("+data[1]+")"+"<span"+ " id="+"'"+selection.id+"'"+ " onClick="+"'"+'reply_click(this.id)'+"'"+">"+"  <i class='fa fa-close' style='font-size:14'></i>"+"</span>"+"</li>");

                        }


                    }
                    else{

                    lists=[]
                    lists.push(data[1])
                    var chil = document.querySelector(".subs-select2")
                    $(chil).append("<li"+" id="+"'"+selection.id+"'"+ " class="+"'"+'subject_name'+"'"+">"+selection.text+"("+data[1]+")"+"<span"+ " id="+"'"+selection.id+"'"+ " onClick="+"'"+'reply_click(this.id)'+"'"+">"+"  <i class='fa fa-close' style='font-size:14px'></i>"+"</span>"+"</li>");

                    }

                    },


                });
}



to()

return false

    },
    containerCssClass: "subs-select2",
    width:400,



  });


  $("#sub").on("select2:select", function (evt) {
    var element = evt.params.data.element;
    recent_id=''
    recent_text=''
    recent_text=element.text
    dic_sub.push(evt.params.data.id+' and '+element.text)
    recent_id=evt.params.data.id



});





$('.dddd').select2();

        $(document).ready(
        function() {
        $("select#exam").change(function() {
        var s = $("select#exam").val()


            if (s == null){

            $('#sub option').prop("hidden", true);
            $('#sub').select2();
            }

            else{

                var url = "/all_subjects/" + $(this).val();
                var brand = $(this).val();
                $.getJSON(url, function(models) {

                for (var i = 0; i < models.length; i++) {

                        $('#sub option[value='+models[i].pk+']').prop("hidden", false);

                        $(document).ready(function() {
                            $('.dddd').select2();
                        });
                }






            });

        }



        });
        });





subjects_list=[]
$('#subs option').prop("hidden", true);


var number=0

      $(document).ready(
        function() {
        $("select#sub").change(function() {
        var s = $("select#sub").val()



        if (s == null){

        $('#subs option').prop("hidden", true);
        }

        else{


                if (subjects_list.length == 0){

                    subjects_list.push($(this).val())
                    <!--alert(subjects_list+'\\n'+'fisrt')-->
                }

                else{

                for (var i = 0; i < s.length; i++) {
                var id=s[i]
                var id_str=id.toString();


                    var find_sub=subjects_list.includes(id_str)


                    if (find_sub){


                    }

                    else{

                    subjects_list.push(s[i])

                    }

                }

                }



        var first = subjects_list[0]
        var sec = subjects_list[1]
        var last = subjects_list[subjects_list.length-1];



        final_id=0

         if (subjects_list.length == 1)

         {
         final_id=first
         recent_text=first
         }

         else if ((subjects_list.length == 3) && (Number(first)>Number(sec)))

          {
          final_id=sec
          recent_text=sec

          }

          else
          {
          final_id=last
          recent_text=last
          }


    $("#subs").on("select2:select", function (evt) {
    var chil = document.querySelector(".subs-select2")
    $(chil).find("li").remove();
    $('#yyyy').html('')
        });


var url = "/get_sub_subject/" +final_id
var brand = $(this).val();


subs_sub=[]
$.getJSON(url, function(id) {
for (var i = 0; i < id.length; i++) {


      $('#subs option[value='+id[i].pk+']').prop("hidden", false);
      subs_sub.push(id[i].pk)


 <!--$('#subs').select2();-->
}


});

}



});
});




$(document).ready(function() {
$( ".sub_subject span.select2-selection.select2-selection--multiple" ).click(function() {

zero=0
sorted_list=[]
for (i = 0; i < subs_sub.length; ++i) {

        <!--alert(sorted_list)-->
        var divs =document.querySelectorAll("[id*='select2-subs-result']")

        for (n = 0; n < divs.length; ++n) {
        var id= divs[n].getAttribute("id");
        zero++

        var last = id.lastIndexOf("-");
        var get_number = id.substring(last+1, );


        if (zero > 1){

         if ((sorted_list == '') && (subs_sub[i]) == (Number(get_number))){

           divs[n].style.display = "block";
           sorted_list.push(get_number)
           <!--alert('first')-->


          }
          else if (sorted_list != ''){


        <!--alert( subs_sub[i] +'   '+  Number(get_number)+ ' '+ alert(sorted_list[k]))-->

         var bedrooms = sorted_list.filter(name => name.includes(get_number))


        if (bedrooms == get_number){

        }

        else if (subs_sub[i] == Number(get_number) ){
        divs[n].style.display = "block";
         sorted_list.push(get_number)

        }

        else{
        divs[n].style.display = "none";
        <!--alert('nai')-->

        }

}

      else{
      divs[n].style.display = "none";
      <!--alert('kico nai')-->

      }


        }

        }

zero=0


}


});

});


<!--key up function-->
$(document).ready(function() {

$( ".sub_subject span.select2-selection.select2-selection--multiple" ).keyup(function() {
  var divs =document.querySelectorAll("[id*='select2-subs-result']")


zero=0
sorted_list=[]
for (i = 0; i < subs_sub.length; ++i) {

        <!--alert(sorted_list)-->
        var divs =document.querySelectorAll("[id*='select2-subs-result']")

        for (n = 0; n < divs.length; ++n) {
        var id= divs[n].getAttribute("id");
        zero++

        var last = id.lastIndexOf("-");
        var get_number = id.substring(last+1, );

        if (zero > 1){



         if ((sorted_list == '') && (subs_sub[i]) == (Number(get_number))){

           divs[n].style.display = "block";
           sorted_list.push(get_number)
           <!--alert('first')-->


          }
          else if (sorted_list != ''){


        <!--alert( subs_sub[i] +'   '+  Number(get_number)+ ' '+ alert(sorted_list[k]))-->

         var bedrooms = sorted_list.filter(name => name.includes(get_number))



        if (bedrooms == get_number){

        }



        else if (subs_sub[i] == Number(get_number) ){
        divs[n].style.display = "block";
         sorted_list.push(get_number)

        }

        else{
        divs[n].style.display = "none";
        <!--alert('nai')-->

        }


}

      else{
      divs[n].style.display = "none";
      <!--alert('kico nai')-->

      }



        }


        }

zero=0


}


});

});

<!--auto unselect subject sub-->


$("#sub").on("select2:unselect", function (e) {




             var value=   e.params.data.id;
                var url = "/get_sub_subject/" + value;
                var brand = $(this).val();
                $.getJSON(url, function(models) {


                for (var i = 0; i < models.length; i++) {

                     $('#subs option[value='+models[i].pk+']').prop('selected', false)

                }
                });



    });






</script>












