{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/institute_profile.css" %}">{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'HOME' %}</a>
    {% if title %} &rsaquo; {{ title }}{% endif %}
    <a href="/admin/institute_profile"> › INSTITUTE PROFILE</a>
  </div>

{% endblock %}

{% block content %}
<!--<div id="content-main">-->



 <div class="manage_user">
            <a href="/admin/bnmc_project/intuitionprofile/">
            <img src="{% static '/admin/img/user_manage.png' %}" class="manage_settings_bnmc" href="{% url 'admin:index' %}"/>
            <label CLASS="user_manage"> Add Employee/Staff</label>
            </a>
        </div>
  {% if user.is_superuser %}



 <div class="manage_institute">
            <a href="/admin/setting/institution/">
                <img src="{% static '/admin/img/institution.png' %}" class="manage_institute_bnmc" href="{% url 'admin:index' %}"/>
                <label CLASS="institute_manage"> Create Institution </label>
            </a>
        </div>



<div class="manage_institute">
            <a href="/admin/bnmc_project/seatcapacity/">
                <img src="{% static '/admin/img/seat.png' %}" class="manage_institute_bnmc" href="{% url 'admin:index' %}"/>
                <label CLASS="institute_manage">  Intuition Seat Management </label>
            </a>
        </div>

{% endif %}






{% endblock %}