.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.316895;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.332031;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._9{margin-left:-9.635743px;}
._d{margin-left:-3.287111px;}
._0{margin-left:-1.820787px;}
._b{width:1.820785px;}
._e{width:4.253906px;}
._8{width:9.635745px;}
._f{width:32.487305px;}
._c{width:34.872071px;}
._a{width:37.772462px;}
._10{width:38.819825px;}
._7{width:42.848145px;}
._1{width:204.512701px;}
._6{width:222.865715px;}
._5{width:224.670416px;}
._4{width:239.333503px;}
._3{width:262.439948px;}
._2{width:269.771492px;}
.fc1{color:rgb(0,0,0);}
.fc2{color:rgb(0,128,0);}
.fc0{color:rgb(51,51,51);}
.fs1{font-size:33.000001px;}
.fs2{font-size:39.000001px;}
.fs0{font-size:63.000001px;}
.y1{bottom:27.999981px;}
.y0{bottom:28.000000px;}
.y2e{bottom:350.250009px;}
.y2d{bottom:361.500009px;}
.y2b{bottom:366.000009px;}
.y2c{bottom:369.750009px;}
.y2a{bottom:381.000009px;}
.y28{bottom:385.500010px;}
.y29{bottom:389.250010px;}
.y26{bottom:400.500010px;}
.y27{bottom:400.520152px;}
.y25{bottom:411.750010px;}
.y24{bottom:423.000010px;}
.y23{bottom:434.250011px;}
.y22{bottom:445.500011px;}
.y21{bottom:456.750011px;}
.y20{bottom:459.000011px;}
.y1f{bottom:466.500011px;}
.y1e{bottom:482.250012px;}
.y1d{bottom:483.000012px;}
.y1c{bottom:490.500012px;}
.y1b{bottom:520.500013px;}
.y1a{bottom:531.750013px;}
.y19{bottom:543.000013px;}
.y18{bottom:554.250013px;}
.y17{bottom:565.500014px;}
.y16{bottom:576.750014px;}
.y12{bottom:592.500014px;}
.y14{bottom:600.000014px;}
.y11{bottom:603.750014px;}
.y10{bottom:615.000015px;}
.y15{bottom:616.500015px;}
.y13{bottom:617.250015px;}
.yf{bottom:618.750015px;}
.ye{bottom:626.250015px;}
.yd{bottom:642.750015px;}
.yc{bottom:651.750016px;}
.yb{bottom:652.500016px;}
.ya{bottom:660.000016px;}
.y9{bottom:668.250016px;}
.y8{bottom:669.000016px;}
.y7{bottom:676.500016px;}
.y6{bottom:677.250016px;}
.y5{bottom:684.750016px;}
.y4{bottom:685.500016px;}
.y3{bottom:693.000016px;}
.y2{bottom:711.750017px;}
.h4{height:24.024903px;}
.h5{height:28.393067px;}
.h7{height:35.658692px;}
.h6{height:36.254884px;}
.h3{height:45.865724px;}
.h1{height:735.000000px;}
.h2{height:735.000017px;}
.h0{height:792.000000px;}
.w2{width:555.000025px;}
.w1{width:555.500000px;}
.w0{width:612.000000px;}
.x1c{left:0.750000px;}
.x15{left:3.000000px;}
.x1e{left:18.750000px;}
.x0{left:29.000000px;}
.x16{left:64.699220px;}
.xf{left:70.816408px;}
.x18{left:91.652346px;}
.x10{left:93.972658px;}
.xe{left:118.722659px;}
.x1d{left:123.542728px;}
.xc{left:125.132815px;}
.x1{left:126.609378px;}
.x2{left:154.757816px;}
.x9{left:193.546879px;}
.x6{left:199.734379px;}
.xd{left:202.605477px;}
.x17{left:207.550790px;}
.x4{left:243.585943px;}
.xb{left:250.476568px;}
.x8{left:276.750006px;}
.x5{left:309.914069px;}
.x19{left:342.199230px;}
.x7{left:353.765633px;}
.xa{left:359.941418px;}
.x11{left:362.519543px;}
.x1b{left:395.507821px;}
.x3{left:398.730481px;}
.x1a{left:485.050796px;}
.x12{left:486.222671px;}
.x14{left:496.980484px;}
.x13{left:535.265637px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._9{margin-left:-12.847657pt;}
._d{margin-left:-4.382815pt;}
._0{margin-left:-2.427716pt;}
._b{width:2.427714pt;}
._e{width:5.671875pt;}
._8{width:12.847661pt;}
._f{width:43.316407pt;}
._c{width:46.496095pt;}
._a{width:50.363282pt;}
._10{width:51.759767pt;}
._7{width:57.130861pt;}
._1{width:272.683601pt;}
._6{width:297.154287pt;}
._5{width:299.560555pt;}
._4{width:319.111337pt;}
._3{width:349.919931pt;}
._2{width:359.695322pt;}
.fs1{font-size:44.000001pt;}
.fs2{font-size:52.000001pt;}
.fs0{font-size:84.000002pt;}
.y1{bottom:37.333308pt;}
.y0{bottom:37.333333pt;}
.y2e{bottom:467.000012pt;}
.y2d{bottom:482.000012pt;}
.y2b{bottom:488.000012pt;}
.y2c{bottom:493.000012pt;}
.y2a{bottom:508.000013pt;}
.y28{bottom:514.000013pt;}
.y29{bottom:519.000013pt;}
.y26{bottom:534.000013pt;}
.y27{bottom:534.026869pt;}
.y25{bottom:549.000014pt;}
.y24{bottom:564.000014pt;}
.y23{bottom:579.000014pt;}
.y22{bottom:594.000015pt;}
.y21{bottom:609.000015pt;}
.y20{bottom:612.000015pt;}
.y1f{bottom:622.000015pt;}
.y1e{bottom:643.000016pt;}
.y1d{bottom:644.000016pt;}
.y1c{bottom:654.000016pt;}
.y1b{bottom:694.000017pt;}
.y1a{bottom:709.000017pt;}
.y19{bottom:724.000017pt;}
.y18{bottom:739.000018pt;}
.y17{bottom:754.000018pt;}
.y16{bottom:769.000018pt;}
.y12{bottom:790.000019pt;}
.y14{bottom:800.000019pt;}
.y11{bottom:805.000019pt;}
.y10{bottom:820.000020pt;}
.y15{bottom:822.000020pt;}
.y13{bottom:823.000020pt;}
.yf{bottom:825.000020pt;}
.ye{bottom:835.000020pt;}
.yd{bottom:857.000020pt;}
.yc{bottom:869.000021pt;}
.yb{bottom:870.000021pt;}
.ya{bottom:880.000021pt;}
.y9{bottom:891.000021pt;}
.y8{bottom:892.000021pt;}
.y7{bottom:902.000021pt;}
.y6{bottom:903.000021pt;}
.y5{bottom:913.000022pt;}
.y4{bottom:914.000022pt;}
.y3{bottom:924.000022pt;}
.y2{bottom:949.000022pt;}
.h4{height:32.033204pt;}
.h5{height:37.857423pt;}
.h7{height:47.544923pt;}
.h6{height:48.339845pt;}
.h3{height:61.154298pt;}
.h1{height:980.000000pt;}
.h2{height:980.000023pt;}
.h0{height:1056.000000pt;}
.w2{width:740.000033pt;}
.w1{width:740.666667pt;}
.w0{width:816.000000pt;}
.x1c{left:1.000000pt;}
.x15{left:4.000000pt;}
.x1e{left:25.000001pt;}
.x0{left:38.666667pt;}
.x16{left:86.265627pt;}
.xf{left:94.421877pt;}
.x18{left:122.203128pt;}
.x10{left:125.296878pt;}
.xe{left:158.296879pt;}
.x1d{left:164.723637pt;}
.xc{left:166.843754pt;}
.x1{left:168.812504pt;}
.x2{left:206.343755pt;}
.x9{left:258.062506pt;}
.x6{left:266.312506pt;}
.xd{left:270.140636pt;}
.x17{left:276.734386pt;}
.x4{left:324.781257pt;}
.xb{left:333.968757pt;}
.x8{left:369.000008pt;}
.x5{left:413.218759pt;}
.x19{left:456.265640pt;}
.x7{left:471.687511pt;}
.xa{left:479.921891pt;}
.x11{left:483.359391pt;}
.x1b{left:527.343762pt;}
.x3{left:531.640642pt;}
.x1a{left:646.734394pt;}
.x12{left:648.296894pt;}
.x14{left:662.640645pt;}
.x13{left:713.687516pt;}
}
