#content {
    width: 900px;
    margin: auto;
    background-color: #eee;
    margin-top: 20px !important;
}

ul.object-tools {
    margin-top: 1%;
    z-index: 1000;
}

a.addlink {
    border-radius: 0;
}

.actions {
    background-color: #eee !important;
}
tr.row1 {
    background-color: #eee;
}
#result_list tr {
    background-color: #eee;
}
p.paginator {
    background-color: #eee !important;
}

#changelist table tbody tr.selected {
    background-color: #fff !important;
}


.form-row.field-name {
    background-color: #eee;
}

.form-row.field-name input {
    width: 300px;
    height: 26px;
}

.submit-row {
    background-color: #eee;
}

.form-row.field-exam_name {
    width: 100%;
    display: block;
    background-color: #eee;
}

.form-row.field-exam_code {
    width: 100%;
    display: block;
    background-color: #eee;
}
.form-row.field-pass_mark {
    width: 100%;
    display: block;
    background-color: #eee;
}

.form-row input {
    width: 300px;
    height: 26px;
}

.staff_super {
    text-align: center;
    font-size: 25px;
    margin-top: 10px !important;
}

.form-row.field-date_active {
    background-color: #eee;
}

.form-row.field-exam_date {
    background-color: #eee;
}

span.datetimeshortcuts {
    display: none;
}