.search_ber {
    width: 1200px;
    height: 200px;
}

select.name_user {
    width: 200px;
    height: 32px;
        margin-top: 10px;
}

input#start {
    width: 200px;
    height: 32px;
        margin-top: 10px;
}

input#end {
    width: 200px;
    height: 32px;
        margin-top: 10px;
}

.activity {
    width: 60%;
    margin: auto;
}

input.submit {
    display: block;
    width: 64px;
    height: 31px;
    font-size: 13px;
    padding: 0;
    margin-left: 37%;
    margin-top: 10px;
}