#content {
    width: 900px;
    margin: auto;
    background-color: #eee;
}

ul.object-tools {
    margin-top: 1%;
    z-index: 1000;
}

a.addlink {
    border-radius: 0;
}

.actions {
    background-color: #eee !important;
}

tr.row1 {
    background-color: #eee;
}

#result_list tr {
    background-color: #eee;
}

p.paginator {
    background-color: #eee !important;
}

.form-row input {
    width: 300px;
    height: 26px;
}

.form-row {
    background-color: #eee;
}

.submit-row {
    background-color: #eee;
}

.dashbord_in {
    display: none;
}