#content {
    width: 900px;
    margin: auto;
    background-color: #eee;
    margin-top: 20px !important;
}

ul.object-tools {
    margin-top: 1%;
    z-index: 1000;
}

a.addlink {
    border-radius: 0;
}

.actions {
    background-color: #eee !important;
}

tr.row1 {
    background-color: #eee;
}

#result_list tr {
    background-color: #eee;
}

p.paginator {
    background-color: #eee !important;
}

#changelist table tbody tr.selected {
    background-color: #fff !important;
}


.form-row.field-minimum_qualification {
    width: 100%;
    display: block;
    background-color: #eee;
}


.form-row.field-name input {
    width: 300px;
    height: 26px;
}

.submit-row {
    background-color: #eee;
}

.form-row.field-relation {
    background-color: #eee;
}

.form-row.field-quota_name {
    background-color: #eee;
}

.form-row.field-nationality_name {
    background-color: #eee;
}


.model-balancehistory #reg_no {

    width: 260px;
    margin-left: 0;

}

.model-balancehistory .cls {

    margin-top: 4%;

}

.model-balancehistory #changelist {
    width: 900px !important;
    background-color: #eee;
}

.total_amounts {
    background-color: #eee;
    height: 40px;
    font-size: 20px;
    text-indent: 10px;
    color: #119146;
}

.model-balancehistory .actions {
    width: 100%;
}

.model-balancehistory .results {
    width: 100% !important;
}


form#changelist-form {
    background-color: #eee;
}